<header>
    <div class="header-content">
      <div class="logo"></div>
      <div class="heading">Sri Lalitha Parameswari Temple<br><span class="sreePeetam">(Sri Peetham)</span></div>
     
    </div>
    <div class="buttons">
      <button><a routerLink="/"><span class="p">Home</span></a></button>
      <button><a routerLink="/services">Services</a></button>
      <button><a routerLink="/priest">About Priest</a></button>
      <button><a routerLink="/about">About Us</a></button>
      <button><a routerLink="/gallery">Gallery</a></button>
      <button><a routerLink="/contact">Contact</a></button>
    </div>
  </header>
  