
<!-- your-component.component.html -->
<div class="daran"></div>
<div class="background-image-div">

    <div class="left-background-image"></div>
    <div class="right-background-image"></div>
    <div>
    <button class="top-button"><a routerLink="/poojabooking">BOOK POOJA SERVICE</a></button>
    <button class="top-button"><a routerLink="/prasadamBooking">CATERING / FOOD BOOKING</a></button>
    <!--<button class="top-button"><a routerLink="/prasadamBooking">SHRAADHAM BOOKING</a></button> -->
    </div><br><br><br>
    <div class="inside-img">
       
        <h2>Puja Services</h2>
        <div class="image"></div>
        <div class="pooja-services-container">
            <div class="pooja-service">
              
                <div>
                    <div class="container">
                       
                        <p>Ganapati Homam </p>  
                      </div>
                </div>
             
                <div>
                    <div class="container">
                        <p>Punyahavachanam</p>  
                      </div>
                </div>
                </div>
            <div class="pooja-service">
                <div>
                    <div class="container">
                     
                        <p>Sri Lalitha Parameswari Gramotsavam</p>  
                      </div>
                    </div>
                <div>
                    <div class="container">
                       
                        <p>Punyajalam</p>  
                      </div>
                    </div>
                </div>


                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Navagraha Homam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Namakarana</p>  
                          </div>
                        </div>
                    </div>



                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Nakshatra Shanthi</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Annaprasana</p>  
                          </div>
                        </div>
                    </div>





                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Sri Chakra Puja</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Vivaham</p>  
                          </div>
                        </div>
                    </div>




                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Ayushya Homam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Upanayanam</p>  
                          </div>
                        </div>
                    </div>




                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Rudra Abhishekam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Satyanarayana Swamy Vartam</p>  
                          </div>
                        </div>
                    </div>



                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Bhimi Puja/Shamkhu sthapana</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Gruhapravesam (Dwarapuja & Ganapati Puja)</p>  
                          </div>
                        </div>
                    </div>



                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Gruhapravesam and Homam</p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Vahana Puja</p>  
                          </div>
                        </div>
                    </div>



                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Gruhapravesam and Homam and Vratam </p>  
                          </div>
                        </div>
                 
                    <div>
                        <div class="container">
                            <p>Abdhikam (with Houmam)</p>  
                          </div>
                        </div>
                    </div>




                    
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Abdhikam (with out Houmam) </p>  
                        </div>
                    </div>
                 
                    
                </div>
 
                <div class="pooja-service">
              
                    <div>
                        <div class="container">
                           
                            <p>Hiranya Shardham</p>  
                          </div>
                        </div>
                    </div>
                <!--add extra puja service name if you want-->   
                <div class="pooja-service" >
              
                    <div>
                        <div>
                           
                            <p></p>  
                          </div>
                          
                        </div>
                        
                 
                        
                    </div>
                    <p class="extra"> Whatever you give Donation to Sri Lalitha Parameswari Temple (Sri Peetham), <br>from your Donation,we will give 10% to Go Seva &amp; Veda Pathasala (Vedic School) in India. <br>
                        <br>
                      </p>
                   
            <!-- Repeat the above structure for each pooja service up to 40 -->
        </div>
        
    </div>
    
    
</div>

