
<!-- your-component.component.html -->
<div class="daran"></div>
<div class="background-image-div">

    <div class="left-background-image"></div>
    <div class="right-background-image"></div>
    <div>
        <button class="top-button"><a routerLink="/book">BOOK POOJA SERVICE</a></button>
        <button class="top-button"><a routerLink="/prasadamBooking">CATERING / FOOD BOOKING</a></button>
        <button class="top-button"><a routerLink="/shaadhamBooking">SHRAADHAM BOOKING</a></button>
    </div><br><br><br>
    <div class="inside-img">
       
        <h2>About Us</h2>
        <div class="image"></div>
        <h6 class="subheader">Sri Lalitha Parameswari Temple (Sri Peetham) </h6>
        <p> ॐ श्रीललितापरमेश्वर्यै नमः <br> ॥प्रातर्नमामि ललिताचरणारविन्दं भक्तेष्टदाननिरतं भवसिन्धुपोतम् ।<br>पद्मासनादिसुरनायकपूजनीयं पद्माङ्कुशध्वजसुदर्शनलाञ्छनाढ्यम् ॥<br>अस्माकम् उत्तरकरोलीना-राज्ये मातुः ललितायाः पूर्णानुग्रहं प्राप्तुं नूतनमन्दिरस्य निर्माणं शीघ्रमेव आरप्स्यते ।<br>मातुः दिव्यविग्रहम् अस्मिन् नवरात्रपर्वसमये भारतात् आगमिष्यति ।<br>
       <!-- <h6 class="meantext"> Means:</h6>
        
        <p class="means">
            <span class="meanexptext">SHIVAYA </span>= shiva is, <span class="meanexptext">SHIVA ROOPAAYA&nbsp;VISHNAVE</span> = vishnu is in the form of shiva&nbsp;<br>
            <span class="meanexptext">SHIVASYA HRUDAYAM VISHNU</span> = shivas heart is vishnu , <span class="meanexptext">VISHNOSCHA HRUDAYAM 
    SHIVAH </span>= vishnus heart is shiva <span class="meanexptext">YATHAA SHIVAMAYO VISHNU </span>= however vishnu is full of shiva , <span class="meanexptext">EVAM VISHNU MAYA
    SHIVAH</span> = same shiva is vishnus formed.-->
          </p>
          <br>
          <br>
          <p class="meansexp"> Thanks to the divine grace of Sri Lalitha Parameswari Devi, we are proud to announce the opening of Sri Lalitha Parameswari Temple in willow springs (close to fuquay varina and garner).This sacred space is a testament to the devotion and dedication of our community, and we are honored to have the opportunity to worship and seek blessings from Sri Lalitha Parameswari Devi. Her presence in our lives brings us strength, prosperity, and protection, and we are eager to embrace her divine grace in this new temple.<br><br>For more info visit:&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://sripeetham.org/" style="color:yellow;">www.sripeetham.org </a>&nbsp;&nbsp;&nbsp;(919)-924-9242 </p>

    </div>
    
    
</div>

